hr {
  border: .1px solid var(--input-stroke);
  margin-bottom: 2.5rem;
}

footer {
  display: grid;

  & .itens {
    display: grid;
    gap: .25rem;
    margin-bottom: 6rem;

    & .accept-wrapper{
      font: var(--body-sm);
      display: flex;
      gap: .75rem;
      align-content: center;

      & span{
        color: var(--brand-light);
        text-decoration: underline;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }

  & #submit-button{
    max-width: 11.0625rem;
    justify-self: end;

    font: var(--body-lg);
    color: var(--text-heading);

    padding: .8125rem 1.25rem;
    border-radius: .5rem;

    background-color: var(--brand-dark);

    cursor: pointer;
  }
}