footer {
  & hr {
    border: 0.1px solid var(--input-stroke);
    margin-bottom: 2.5rem;
  }

  & .itens {
    display: grid;
    gap: 0.75rem;
  }

  & span {
    font-weight: 600;
    color: var(--brand-light);
    text-decoration: underline;
  }
}

.checkbox-wrapper {
  display: flex;
  gap: 0.75rem;

  position: relative;

  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
  }

  .checkbox-image {
    flex: 0 0 1.25rem;
    height: 1.25rem;
    border: solid 1px var(--input-stroke);
    border-radius: 0.25rem;
  }

  &:has(:checked) .checkbox-image {
    border: solid 1px var(--brand-light);
    background-image: url(../Assets/Icons/check.png);
    background-position: center;
  }
}

button {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .75rem;

  margin-top: 3rem;
  justify-self: end;

  padding: .8125rem .5rem;

  width: 11.0625rem;
  border-radius: .5rem;

  background-color: var(--brand-dark);
  font: var(--body-md);
  color: var(--text-heading);

  & img {
    width: 1.25rem;
  }
}
