* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* STYLE GUIDE */

:root {
  /* FONTS */
  --leckerli-one: "Leckerli One", cursive;
  --logo: 400 2.5rem var(--leckerli-one);

  --baloo-2: "Baloo 2", sans-serif;
  --heading-md: bold 1.75rem var(--baloo-2);
  --heading-sm: bold 1.125rem var(--baloo-2);

  --open-sans: "Open Sans", sans-serif;
  --body-md: 400 1rem var(--open-sans);
  --body-sm: 400 0.875rem var(--open-sans);
  --body-xs: 400 0.75rem var(--open-sans);

  /* COLORS */

  /* Brand */
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  /* Accent colors */
  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  /* Feedback */
  --danger: #ff5959;

  /* Input */
  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  /* Shape */
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  /* Text */
  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;
}

body {
  background-color: #29292e;
  padding: 1rem 6.25rem;
}

aside,
main {
  border-radius: 0.75rem;
}

label {
  font: var(--body-sm);
  color: var(--text-body);
}
