aside {
  border-radius: .75rem;
  background-image: url(../Assets/Images/Background.png);
  background-position: center;
  background-size: cover;
  max-width: 25rem;
  height: 45.5rem;
  header {
    margin: 2rem;

    & img {
      width: 3rem;
      aspect-ratio: 1/1;
    }

    & h1 {
      font: var(--logo);
      color: var(--pink);
      margin: 1rem 0 .25rem;
    }

    & p {
      font: var(--body-md);
      color: var(--text-heading);
    }
  }
}
