.radio-wrapper {
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;

  padding: 0.25rem;

  & input,
  & input:focus,
  & input:hover {
    all: unset;
  }

  .radio-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    padding: 0.656rem 1.125rem;

    border-radius: 0.25rem;

    & img {
      width: 1rem;
      aspect-ratio: 1/1;
    }

    & label {
      font: var(--body-sm);
      color: var(--text-body);
    }

    &:has(:checked) {
      background-color: var(--shape-hover);

      & svg path {
        stroke: var(--brand-light);
      }

      & label {
        font-weight: 600;
        color: var(--text-heading);
      }
    }
  }
}

.radio-color {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & input {
    all: unset;

    width: 1.75rem;
    height: 1.75rem;
    border: .375rem solid var(--shape-button);
    border-radius: 50%;
    cursor: pointer;

    &:hover{
    border: .375rem solid var(--shape-hover);
    }
  }

  & input:checked {
    outline: .125rem solid var(--brand-light);  
  }

  & #brand-light {
    background-color: var(--brand-light);
  }

  & #navy {
    background-color: var(--navy);
  }

  & #purple {
    background-color: var(--purple);
  }

  & #fuschia {
    background-color: var(--fuschia);
  }

  & #pink {
    background-color: var(--pink);
  }

  & #danger {
    background-color: var(--danger);
  }

  & #orange {
    background-color: var(--orange);
  }

  & #yellow {
    background-color: var(--yellow);
  }

  & #lime {
    background-color: var(--lime);
  }

  & #green {
    background-color: var(--green);
  }

  & #cyan {
    background-color: var(--cyan);
  }
}

.theme-options {

  label {
    display: flex;
    margin-bottom: 1rem;
  }

  & .grid-container {
    display: grid;
    grid-template-areas: 
    "birthday kids graduation marriage"
    "baby-shower bridal-shower carnival easter"
    "midsummer-day halloween christmas other";

    gap: .5rem;
  }

  & .card-inner {

    display: flex;
    flex-direction: column;

    width: 8.375rem;
    height: 6.4375rem;

    padding: .25rem;
    border-radius: .5rem;
    background-color: var(--shape-button);
    cursor: pointer;

    position: relative;

    &:hover{
      background-color: var(--shape-hover);
    }

    & input {
      all: unset;
      position: absolute;
      inset: 0;
    }

    & input:checked {
    outline: .125rem solid var(--brand-light);
    border-radius: .5rem;  
  }

    & img {
      width: 7.875rem;
      height: 4rem;
    }

    & label {
      margin-top: .5rem;
      align-self: center;
    }
  }
}