.radio-wrapper {
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;

  padding: 0.25rem;

  & input,
  & input:focus,
  & input:hover {
    all: unset;
  }

  .radio-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    padding: 0.656rem 1.125rem;

    border-radius: 0.25rem;

    & img {
      width: 1rem;
      aspect-ratio: 1/1;
    }

    & label {
      font: var(--body-sm);
      color: var(--text-body);
    }

    &:has(:checked) {
      background-color: var(--shape-hover);

      & svg path {
        stroke: var(--brand-light);
      }

      & label {
        font-weight: 600;
        color: var(--text-heading);
      }
    }
  }
}

.radio-color {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & input {
    all: unset;

    width: 1.75rem;
    height: 1.75rem;
    border: .375rem solid var(--shape-button);
    border-radius: 50%;
    cursor: pointer;
  }

  & input:checked {
    outline: .125rem solid var(--brand-light);  
  }

  & #brand-light {
    background-color: var(--brand-light);
  }

  & #navy {
    background-color: var(--navy);
  }

  & #purple {
    background-color: var(--purple);
  }

  & #fuschia {
    background-color: var(--fuschia);
  }

  & #pink {
    background-color: var(--pink);
  }

  & #danger {
    background-color: var(--danger);
  }

  & #orange {
    background-color: var(--orange);
  }

  & #yellow {
    background-color: var(--yellow);
  }

  & #lime {
    background-color: var(--lime);
  }

  & #green {
    background-color: var(--green);
  }

  & #cyan {
    background-color: var(--cyan);
  }
}